.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #1d4150;
    width: 50%;
    height: 450px;
    gap: 10px;
    margin: auto;
    padding: 15px;
}

.box1, .box8, .box13, .box17 {
    background-color: rgb(0, 128, 98);

}

.box2, .box6, .box9, .box16 {
    background-color: rgba(236, 69, 31, 0.8);

}

.box3, .box10 {
    background-color: rgb(20, 169, 134);

}

.box4, .box12, .box14 {
    background-color: rgba(236, 31, 31, 0.8);
}

.box5, .box15, .box18 {
    background-color: rgb(18, 227, 178);
}

.box7, .box11 {
    background-color: rgba(236, 140, 31, 0.8);
}
