.magazine {
    margin: auto;
    width: 90%;
    height: 90%;
}

.header {
    background: rgba(255, 192, 203, 0.15);
    width: 90%;
    height: 150px;
    padding: 5px;
    margin: auto;

}

.logo {
    width: 110px;
    height: 110px;
    background-image: url("images/ElegantLogo .png");
    background-size: cover;
    float: left;
    padding: 20px;
    border-radius: 50%;
}

.navigation {

    border: 1px dotted #FF66C4;
    border-radius: 10%;
    float: right;
    padding: 5px;
    margin-top: -9px;
    margin-right: 10px;

}

h1 {
    font-family: Apple Chancery, cursive;
    color: #3301b7;
    padding-top: 20px;
}

.main {
    width: 90%;
    height: 700px;
    padding: 5px;
    margin: auto;
    display: flex;
    background: rgba(255, 192, 203, 0.09);

}
.content{
    column-count: 3;
    padding: 20px;
    font-family: "Times New Roman";
    font-size: 2.1ch;
}
img{
    width: 150px;
    height: 200px;
    float: left;
    padding: 5px;
}

.sidebar {
    width: 20%;
    height: 100%;
}

.category {
    height: 10%;
    width: 80%;
    margin-left: 20px;
    display: list-item;
    list-style-type: "\1F49F";
}

.content {
    width: 80%;
    height: 100%;
}

.footer {
    width: 90%;
    height: 150px;
    padding: 5px;
    margin: auto;
    background: rgba(255, 192, 203, 0.87);
}

.table {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
}

.cel {
    display: table-cell;
    padding: 6px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(168, 110, 187, 0.38);
    border-radius: 4px
}

li {
    float: left;
}

li a {
    display: block;
    color: #3301b7;
    text-align: center;
    font-size: large;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    background-color: #d07ec2;
}

.list_category:link, .list_category:visited{
    background-color: rgba(168, 110, 187, 0.38);
    color: #3301b7;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-family: "Courier New";
    text-transform: uppercase;
    display: inline-block;
    width: 90%;
}
.list_category:hover, .list_category:active{
    background-color: #d07ec2;
}