.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    border: 5px solid black;
    background-color: #1d4150;
    width: 60%;
    height: 500px;
    gap: 10px;
    margin: auto;
    padding: 15px;
}

.box1 {
    background-color: rgba(236, 31, 31, 0.8);
    grid-column: 1 / span 2;
}

.box2 {
    background-color: rgb(0, 128, 98);
}

.box3 {
    background-color: rgba(236, 140, 31, 0.8);
}

.box4 {
    background-color: rgba(236, 69, 31, 0.8);
}

.box5 {
    background-color: rgb(0, 128, 98);
}

.box6 {
    background-color: rgb(20, 169, 134);
}

.box7 {
    background-color: rgba(236, 140, 31, 0.8);
    grid-area: 3 / 1 / 5 / 3;
}

.box8 {
    background-color: rgb(18, 227, 178);
    grid-row: 3 / 4;
}

.box9 {
    background-color: rgba(236, 31, 31, 0.8);
    grid-row: 3 / 4;
}

.box10 {
    background-color: rgb(0, 128, 98);
    grid-row: 4 / 4;
}

.box11 {
    background-color: rgb(18, 227, 178);
    grid-area: 5 / 1 / 5 / 4;
}

.box12 {
    background-color: rgba(236, 140, 31, 0.8);
    grid-row: 5 / 5;
}